<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uniactive">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uniactive"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/uniactive"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ActDetailActivity" />
        <activity android:name=".ui.activity.ComListDisplay" />
        <activity android:name=".ui.user.CommentActivity" />
        <activity android:name=".ui.user.ShowCommentActivity" />
        <activity android:name=".ui.user.LoginActivity" />
        <activity android:name=".ui.user.RegisterActivity" />
        <activity android:name=".ui.user.ChangePassword" />
        <activity android:name=".ui.user.LogoffActivity" />
        <activity
            android:name=".ui.activity.ActEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.ActListDisplayActivity" />
        <activity android:name=".ui.home.ShareActivity" />
        <activity android:name=".ui.user.ProfileEditActivity" />
        <activity android:name=".ui.home.SettingActivity" />
        <activity android:name=".ui.home.FeedbackActivity" />
        <activity android:name=".ui.home.AboutUsActivity" />

        <service android:name=".ui.alarm.SendNotificationActivity" />

        <receiver android:name=".ui.alarm.AlarmReceiver" />
        <receiver android:name=".ui.alarm.NotificationReceiver" />

        <activity android:name=".ui.user.ResetPasswordActivity"></activity>
    </application>

</manifest>